version: '3.1'
services:
  anaconda:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile

    volumes:
      - ./:/python
    ports:
      - "81:8888"
    command:
      /opt/conda/bin/jupyter notebook --notebook-dir=/python/notebooks --ip='0.0.0.0' --port=8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''

    tty: true
